<ion-header>
  <!-- <ion-toolbar>
    <ion-title>acceuil</ion-title>
  </ion-toolbar> -->
  <ion-card class="bar_recherche" >
    <ion-card-content> 
        <!-- Searchbar with cancel button never shown -->
        <ion-searchbar placeholder-opacity="0.5" border-radius="2%" color="light" placeholder="J'ai bésoin de ???"  inputmode="text" enterkeyhint="search" autocorrect="on" autocomplete="on"  animated  ></ion-searchbar>
    </ion-card-content>
  </ion-card>
</ion-header>

<ion-content >

  <div class="contenue" style="background-image: url('assets/svg/paisleySimple_nobg.svg');">
    <ion-card class="content">
      <ion-card-content>Tailleur</ion-card-content>
    </ion-card>
  
    <ion-card class="content">
      <ion-card-content>Télimani</ion-card-content>
    </ion-card>
  
    <ion-card class="content">
      <ion-card-content>Doctoro</ion-card-content>
    </ion-card>
  
    <ion-card class="content">
      <ion-card-content>Vider ma poubelle</ion-card-content>
    </ion-card>
    
    <ion-card class="content">
      <ion-card-content>Sugou</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Taxi</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Bourou</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Location</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Location</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Decoration</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Fleur</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Parini</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Exitant</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Restaurant</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Fruit</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Legume</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Wave Money</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Mobi cash</ion-card-content>
    </ion-card>
    <ion-card class="content">
      <ion-card-content>Orange Money</ion-card-content>
    </ion-card>

    <ion-card class="content">
      <ion-card-content>Sama Money</ion-card-content>
    </ion-card>
  </div>
  

</ion-content>
