<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mots de Passe oublié ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Valider</ion-button>
      </ion-col>
    </ion-row>

    <small style="display: flex; width: 100%;justify-content: center;text-align: center;color: blueviolet;">
      Veullez entrez l'adresse mail avec la quelle vous avez créez le compte.
    </small>
  </form>
</ion-content>